@media only screen and (min-device-width: 320px) and (max-width: 568px) and (orientation: portrait) {
    div.container {
        grid-template-columns: 1fr !important;
        ;
    }
    #cards {
        grid-template-columns: 1fr !important;
    }
    header {
        grid-template-columns: 1fr !important;
        justify-items: center;
    }
    header img {
        padding-top: 0 !important;
        min-width: 40%;
    }
    .img {
        height: 280px !important;
    }
}